<html>
  <head>
     <title>Flask Test</title>
     <link href="{{url_for('static', filename='camera.css')}}" rel="stylesheet">
  </head>
  <body>
     <div id="title">Hello</div>
     <div id="contents">
       {% for num in range(num_photos) %}
       <div id="photo">
          <img src="{{url_for('static', filename="image_{}.jpg".format(num))}}">
          {% if check==True %}
          <p>Accept!</p>
          {%endif%}
       </div>
       {%endfor%}
       <a href="{{url_for('main_page')}}">return </a>
     </div>
   </body>
</html>
